<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      charset="UTF-8"
    />
    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#main-content" class="skip-content">Skip to Content</a>
    <header>
      <!-- navbar -->
      <nav>
        <div class="logo">
          <h1>RestoWeb</h1>
        </div>
        <ul>
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="#">Favorites</a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/kadirunsimbala?igsh=MXVjc3ptNHRteHdwOA=="
              >About Us</a
            >
          </li>
        </ul>
        <button class="hamburger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </button>
      </nav>
      <div class="menubar">
        <ul>
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="#">Favorites</a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/kadirunsimbala?igsh=MXVjc3ptNHRteHdwOA=="
              >About Us</a
            >
          </li>
        </ul>
      </div>

      <!-- hero -->
      <div class="hero">
        <div class="text">
          <h1>Welcome to RestoWeb</h1>
          <p>Find the best Restaurant near you.</p>
        </div>
      </div>
    </header>

    <main>
      <div>
        <h1 class="explore">Explore Restaurant</h1>
      </div>
      <!-- main cards -->
      <div class="card-container" id="card-list"></div>
    </main>

    <footer>
      <div class="footer-container">
        <div class="footer">
          <p>Copyright &#169; 2024 - RestoWeb</p>
        </div>
      </div>
    </footer>
  </body>
</html>
